.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.homepage {
  min-width: 100%;
  min-height: 100%;
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(to bottom right, rgb(125, 240, 255), rgb(151, 169, 250), rgb(253, 209, 158)) */
  background-image: url(../imagesUse/background.jpg);

}

.homepage_header {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  min-width: 20%;
  min-height: fit-content;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background: white;
  background-image: url(../imagesUse/istockphoto-1022269778-612x612.jpg);
  position: relative;
  border-radius : 15px;
}

.homepage_header > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  width: 100%;
  text-align:center;
  padding: 0.5rem 0;
  margin: 0.5rem ;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.homepage_header > input{
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.8rem 0.4rem;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  transition: .3s;
}

.homepage_header > input:focus{
border-color: dodgerblue;
box-shadow: 0 0 0.5rem 0 dodgerblue;
}

.react-datetime-picker  {
  width: 100% !important;
}


.homepage_body {
  width: 100%;
}

.reminder_card {
  display: flex;
  flex-direction: column;
  display: inline-block;
  background: white;
  background-image: url(../imagesUse/istockphoto-1214321159-170667a.jpg);
  border-radius: 8px;
  margin: 2rem;
  padding: 1rem;
  max-width:350px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.reminder_card > h2 {
  margin-bottom: 1rem;
  color: #000000;
}

.reminder_card > p {
  color: rgb(58, 57, 57);
  margin-bottom: 1rem;
}

.reminder_card > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  width: inherit;
  text-align:center;
  padding: 0.5rem 0;
  margin: 0.5rem ;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.homepage_header > h2{
  margin-top: 0.01rem;
  margin-bottom: 0.2rem;
}

.reminder_card > h3{
  color: rgb(99, 73, 73);
}